<h1>Add New Book</h1>

<%= form_with scope: :book, url: books_path, local: true do |form| %>

<% if @book.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@book.errors.count, "error") %>
            prohibited this book from being saved:
        </h2>
        <ul>
            <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<form>
    <div class="form-group">
        <label for="input_title">Title</label>
        <input type="text" class="form-control" id="form_input" placeholder="enter title">
    </div>
    <div class="form-group">
        <label for="input_author">Author</label>
        <input type="text" class="form-control" id="form_input" placeholder="enter author">
    </div>
    <div class="form-group">
        <label for="input_genre">Genre</label>
        <input type="text" class="form-control" id="form_input" placeholder="enter genre">
    </div>
    <div class="form-group">
        <label for="input_url">URL</label>
        <input type="text" class="form-control" id="form_input" placeholder="enter url">
    </div>

</form>

<% end %>

<%= link_to 'Back', books_path %>